* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: #e7eaee;
  font-family: "Roboto", sans-serif;
}

.container-coffee {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 25px;
  gap: 20px;
  padding: 15px;
  width: 370px;
  margin: 50px;
  box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.05);
}

.coffee {
  border-radius: 25px;
  height: 280px;
}

.describe-content {
  font-size: 27px;
  line-height: 35px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tara {
  width: 56px;
  height: 56px;
}

.profile-name {
  font-size: 20px;
  line-height: 24px;
}

.date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 19px;
}
